<th:block xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- Sidebar Menu -->
<div class="sidebar-menu">
    <div class="sidembar-menu-wrap">
        <a href="javascript:void(0)" class="sidebar-close-icon icon--close">
            <i class="ion ion-android-close"></i>
        </a>
        <!--Sidebar Content-->
        <div class="sidebar-content">
            <th:block sec:authorize="isAuthenticated()">
            <h5 class="white" style="text-align: center"><a th:href="@{/users/{name}(id=${#authentication.name})}" th:text="|Hey ${#authentication.name}|"></a></h5>
            <form role="search" id="sign-in" th:action="@{/logout}" method="post" class="sign-in">
                <h5 sec:authorize="hasRole('ROLE_USER') && !hasRole('ADMIN')" ><img src="https://www.khanacademy.org/images/avatars/svg/aqualine-sapling.svg" alt=""></h5>
                <h5 sec:authorize="hasRole('ROLE_ADMIN')"><img src="https://i.neoseeker.com/mgv/592156/156/86/ninja_admin_regular_size_display.png" alt=""></h5>
                <input type="submit" class="btn btn-md btn-color-b btn-rounded form-full" value="Log Out" />
            </form>
            </th:block>
            <th:block sec:authorize="isAnonymous()">
            <h5 class="white">Sign In</h5>
            <form role="search" id="loggedIn" th:action="@{/auth}" method="post" class="sign-in">
                <h5><img src="" alt=""></h5>
                <input class="input-sm form-full" type="text" aria-required="true" id="username" name="username" placeholder="Username" value="" />
                <input class="input-sm form-full" type="password" aria-required="true" id="password" name="password" placeholder="Password" value="" />
                <input type="submit" class="btn btn-md btn-color-b form-full" value="Sign In" />
                <a href="/users/register" style="font-size: medium">New Customer?</a>
            </form>
            </th:block>
            <ul>
                <th:block sec:authorize="isAuthenticated()">
                <li><a th:href="@{/users/{name}(name=${#authentication.name})}">Profile</a></li>
                <li><a th:href="@{/users/{name}/myOffers(name=${#authentication.name})}">My Offers</a></li>
                <li><a th:href="@{/users/{name}/wishList(name=${#authentication.name})}">&hearts; Wish List &hearts;</a></li>
                </th:block>
                <li><a href="/help/FAQ">FAQ</a></li>
                <li><a href="/help/team">About Us</a></li>
                <li><a href="/help/contact">Contact Us</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- End Sidebar Menu -->
</th:block>