<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{/fragment/head}"></th:block>
</head>

<body>

<!-- Preloader -->
<section id="preloader">
    <div class="loader" id="loader">
        <div class="loader-img"></div>
    </div>
</section>
<!-- End Preloader -->

<!-- Sidebar Menu -->
<th:block th:include="~{/fragment/sidebar}"></th:block>
<!-- End Sidebar Menu -->

<!-- Site Wraper -->
<div class="wrapper">

    <!-- Header ("header--dark", "header-transparent", "header--sticky")-->
    <header id="header" class="header header--dark header-transparent header--sticky">
        <!-- Nav Bar -->
        <th:block th:include="~{fragment/home-nav}"></th:block>
        <!-- End Nav Bar -->
    </header>
    <!-- End Header -->

    <!-- CONTENT --------------------------------------------------------------------------------->
    <!-- Intro Section -->
<!--    <section class="inner-intro">-->
<!--        <div class="container">-->
<!--            <div class="row title">-->
<!--                <h2 class="h2">Login</h2>-->
<!--                <div class="page-breadcrumb">-->
<!--                    <a>Home</a>/<span>Login</span>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
    <!-- End Intro Section -->
<!--    <label id="success" style="font-size: large; color: greenyellow; display: none" class="error text-success">You registered successfully!Please log in!</label>-->
<!--    <br/>-->
<!--    <hr/>-->
    <!-- Login Section -->
    <section id="Login" class="ptb ptb-sm-80"
             style="background-color: #A48807">
        <div class="container">
            <div class="row">
                <div id="loginDiv"  class="col-md-6">
                    <div class="border-box">
                        <th:block th:if="${successRegister}">
                            <div id="success" class="error" style="border-style: solid; border-color: greenyellow"></div>
                            <script>
                                document.getElementById('success').innerHTML = '<b style="font-size: large; color: greenyellow; margin: 10px;">You registered successfully!Please log in!</b>';
                                setTimeout(function () {
                                    document.getElementById('success').innerHTML = '';
                                    document.getElementById('success').style.borderStyle = 'none';
                                }, 3000);
                            </script>
                        </th:block>
                        <th:block th:if="${error}">
                            <div  class="alert alert-danger" role="alert">
                                <i th:text="|This username and password combination does not exist.|"
                                   class="fa fa-exclamation-circle left" style="color: #e1534f; font-size: initial"></i>
                            </div>
                        </th:block>
                        <h4 style="color: green; text-align: center">Log In :)</h4>
                        <form role="search" id="loggedIn" th:action="@{/auth}" method="post" class="sign-in">
<!--                            <input class="input-sm form-full" type="text" aria-required="true" id="username" name="username" placeholder="Username" value="" />-->
<!--                            <input class="input-sm form-full" type="password" aria-required="true" id="password" name="password" placeholder="Password" value="" />-->
<!--                            <input type="submit" class="btn btn-md btn-color-b form-full" value="Sign In" />-->
                            <div class="form-field-wrapper">
                                <label for="username">Username</label>
                                <input type="text"  placeholder="Enter your Username" name="username" id="username" class="input-sm form-full" aria-required="true">
                            </div>
                            <div class="form-field-wrapper">
                                <label for="password">Password</label>
                                <input type="password"  placeholder="Enter your Password" name="password" id="password" class="input-sm form-full" aria-required="true">
                            </div>
                            <button name="submit" id="form-submit" type="submit" class="btn btn-md btn-black">Sign In</button>
                            <a href="/users/register" style="font-size: medium; float: right;">New Customer?</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Login Section -->

    <!-- End CONTENT ------------------------------------------------------------------------------>

    <th:block th:include="~{fragment/footer}"></th:block>

</div>
<!-- Site Wraper End -->


<!-- JS -->
<th:block th:include="~{fragment/JS}"></th:block>
</body>
</html>
